{% extends 'base.html' %}{% block menulist %}
<li class="section-links-text"><a id="dash-link" href="{% url 'site02_dash'%}"><i class="section-link-icon fa-li fas fa-chart-line"></i>Dashboards</a></li>
<li class="section-links-text"><a id="metrics-link" href="{% url 'site02_metrics'%}"><i class="section-link-icon fa-li fas fa-sort-numeric-up-alt"></i>Metrics</a></li>
<li class="section-links-text"><a id="alerts-link" href="{% url 'site02_alerts' %}"><i class="section-link-icon fa-li far fa-bell"></i>Alerts</a></li>
<li class="section-links-text"><a id="tickets-link" href="{% url 'site02_tickets' %}"><i class="section-link-icon fa-li far fa-check-square "></i>Tickets</a></li>
{% endblock menulist %} {% block content %}
<div class="content-section alerts-page site02 ">
    <div class="local-time-div">
        <div class="time-box">
            <h1 class="time-text" id="local-time"></h1>
        </div>
    </div>
    <div class="metrics-section">
        <h2 class="section-head "><i class="far fa-bell"></i> Alerts</h2>
        <div class="alerts-section">
            <ul class="alert-list">
                <li class="alert-strip" id="alert-error">
                    <div class="alert" id="a-type"><i class="fas fa-exclamation-circle"></i> Error</div>
                    <div class="alert" id="a-host">Host: my.comp.computer</div>
                    <div class="alert" id="a-ip">HostIP: 255.255.255.255</div>
                    <div class="alert" id="a-desc">Desc: Lorem ipsum dolor sit amet...</div>
                </li>
            </ul>
            <ul class="alert-list">
                <li class="alert-strip" id="alert-warning">
                    <div class="alert" id="a-type"><i class="fas fa-exclamation-triangle"></i> Warning</div>
                    <div class="alert" id="a-host">Host: my.comp.computer</div>
                    <div class="alert" id="a-ip">HostIP: 255.255.255.255</div>
                    <div class="alert" id="a-desc">Desc: Lorem ipsum dolor sit amet...</div>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}